@import (less) '../../../node_modules/nouislider/distribute/nouislider.css';
@light-gray: #fafafa;
@dark-gray: #eaeaea;

#public-lands-app {
  display: flex;
  border-bottom: 1px solid @dark-gray;
}

.map-wrapper {
  flex-grow: 2;
  padding: 1em 0 0;
  .buttons-container {
    position: absolute;
    top: 15px;
    right: 15px;
    button {
      width: 2em;
      background: #eee;
      cursor: pointer;
      + button {
        border-left: none;
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
    .zoom-in:before {
      content: '+';
    }
    .zoom-out:before {
      content: '—';
      display: block;
    }
  }

  .map-container {
    position: relative;
    svg.protected-lands {
      // cursor: -webkit-grab;
      // cursor: grab;
      .lands {
        &:hover {
          path {
            fill-opacity: 0.2;
          }
        }
        path {
          cursor: pointer;
          stroke: #fff;
          stroke-width: 0.1px;
          transition: all 0.2s ease-in-out;
          pointer-events: none;
          fill-opacity: 0;
          &.active {
            pointer-events: all;
            fill-opacity: 0.2;
          }
          &:hover {
            fill-opacity: 1;
          }
        }
        // path,
        // line {
        //   shape-rendering: crispEdges;
        // }
      }
    }

  }

  // &.grabbing .protected-lands {
  //   cursor: -webkit-grabbing;
  //   cursor: grabbing;
  // }

  .date-container {
    padding: 0 0 1em;
    display: flex;
    .range-label {
      padding: 0 0.5em;
      flex-grow: 0.1;
      text-align: center;
    }
    .start {
      order: 1;
    }
    .end {
      order: 3;
    }
    .noUi-target {
      flex: 1;
      order: 2;
      margin: 4px 0 0 9px;
      height: 10px;
      .noUi-handle {
        transform-origin: 0 0;
        transform: scale(0.75);
      }
    }
    .noUi-horizontal {
      .noUi-tooltip {
        display: none;
        bottom: auto;
        top: 120%;
      }
      .noUi-active .noUi-tooltip {
        display: block;
      }
    }

  }

}

.lands-panel {
  flex-grow: 1;
  background: @light-gray;
  border-left: 1px solid @dark-gray;
}
