<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>{{pageTitle}} - Cody Rushing</title>
    <link rel="stylesheet" href="/css/main.css" />
    {{#each additionalCSS}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['PT Serif', 'Roboto:400,400i,700']
        }
      });
    </script>
  </head>
  <body>
    {{> header }}
    <main>{{{body}}}</main>
    {{> footer }}
  </body>
</html>
